html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Oxygen', sans-serif;
    font-size: @font-size-base;
    color: @grey-800;
}

.site, .site-inner {
    .flex-column();
    flex:1;
    height: 100%;
    width: 100%;
}


.site-content {
    flex: 1;
    padding: @content-padding;
    width: 1140px;

    .page-title,
    .entry-title {
        font-size: @font-size-larger;
        display: flex;
        align-items: center;
        height: 100px;
        border-bottom: 1px solid #f3f3f3;
        font-weight: 300;
        margin-bottom: 20px;
    }

    h3 {
        font-weight: bold;
        line-height: 48px;
        color: @brand-color2;
        font-size: @font-size-large;
        padding: 1.5rem 0 .75rem 0;
    }
}

.content-area {
    .post-thumbnail {
        float: left;
        margin:0 1rem 1rem 0;
    }
}

.page-links li{
    padding-bottom: 3rem;
}


.list-itens{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    margin-top: 2rem;

    .post-thumbnail {
        margin-bottom: 0px;
    }
}


// Links
.list-style {
    a {
        margin-bottom: 2rem;
        display: inline-block;
    }

    ul {
        list-style-type: circle;
    }
}

// Portfolio
.portfolio {
    article {
        margin: 2rem;
        display: flex;
    }

    img {
        max-width: 15rem;
        margin-right: 2rem
    }
}


// News and Social Development
.news, .social-development {
    article {
        margin: 2rem;
        display: flex;
        flex-direction: column;
    }
}


/* ---- CSS PAGINAÇÃO WORDPRESS ---- */
ul.page-numbers li{float:left;margin:0 2px;}
ul.page-numbers a, ul.page-numbers span {
-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
box-shadow:inset 0px 1px 0px 0px #ffffff;
background-color:transparent;
-moz-border-radius:4px;
-webkit-border-radius:4px;
border-radius:4px;
border:1px solid #dcdcdc;
display:inline-block;
color:#777777;
font-family:arial;
font-size:15px;
font-weight:bold;
padding:2px 6px;
text-decoration:none;
text-shadow:1px 1px 0px #ffffff;
}
ul.page-numbers a:active, ul.page-numbers span:active {
position:relative;
top:1px;
}
ul.page-numbers a:hover, ul.page-numbers span.current{
-moz-box-shadow:inset 0px 1px 0px 0px #d9d9d9;
-webkit-box-shadow:inset 0px 1px 0px 0px #d9d9d9;
box-shadow:inset 0px 1px 0px 0px #d9d9d9;
background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d9d9d9), color-stop(1, #676767) );
background:-moz-linear-gradient( center top, #d9d9d9 5%, #676767 100% );
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d9d9d9', endColorstr='#676767');
background-color:#d9d9d9;
border:1px solid #676767;
display:inline-block;
color:#ffffff;
font-family:arial;
font-size:15px;
font-weight:bold;
text-decoration:none;
text-shadow:1px 1px 0px #676767;
}
ul.page-numbers {text-align:center; padding: 20px 0;width: 100%}

