body {
    font-family: 'Oxygen', sans-serif;
    padding: 0rem;
    margin: 0rem;
}

header.site-header {
    box-shadow: 1px 1px 2px #ddd;
    height: 12rem;

    .site-title,
    .site-description {
        display: none;
    }
}

footer {
    .main-navigation {
        display: none;
    }
}
