img {
    &.alignleft {
    float: left;
    padding:0 1.5rem 1.5rem 0;
    }

    &.img-responsive {
        width: 100%
    }
}

.post-meta {
    list-style-type: none;

    .post-meta-key {
        display: none;
    }
}

* a {
    text-decoration: none;
    color: @brand-brown;

    &:hover {
        text-decoration: underline;
    }
}

